* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑", sans-serif;
}

.header {
    height: 100px;
    width: 100%;
    background-color: #07cbc9;
    min-width: 1200px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header .logo {
    float: left;
    margin-top: 25px;
    margin-left: 150px;
}

.header .nav {
    float: right;
}

.header .nav ul {
    margin-right: 150px;
}

.header .nav ul li {
    display: inline-block;
    height: 100px;
    padding: 0 10px;
}

.header .nav ul li a {
    font-size: 16px;
    font-family: "微软雅黑", sans-serif;
    font-weight: bold;
    line-height: 100px;
    text-decoration: none;
    color: #fff;
}

.header .nav ul li:hover {
    background-color: #000;
}

.banner {
    margin-top: 100px;
    position: relative;
}

.banner img {
    width: 100%;
    height: 800px;
}

.banner .opacity-img {
    background-color: #000;
    opacity: 0.2;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.banner form {
    width: 800px;
    z-index: 2;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    text-align: center;
    top: 200px;
}

.banner input {
    color: #fff;
    font-size: 18px;
    font-family: "微软雅黑", sans-serif;
    margin: 25px auto;
    display: block;
    width: 500px;
    height: 40px;
}

.banner textarea {
    color: #fff;
    margin: 25px auto;
    display: block;
    width: 500px;
    height: 200px;
    font-size: 18px;
    font-family: "微软雅黑", sans-serif;
    resize:none
}

.banner .submit {
    height: 40px;
    width: 160px;
}

.banner textarea,
.banner input {
    border: 2px solid #999;
    background: transparent;
}

.banner textarea:hover,
.banner input:hover {
    border: 2px solid #07cbc9;
}

.banner .submit:hover {
    border: none;
    background: #07cbc9;
}

.about .top,
.gallery .top {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.about .top h2,
.gallery .top h2 {
    font-size: 50px;
    line-height: 150px;
    margin-top: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.about .top p,
.gallery .top p {
    color: #999;
    font-family: "微软雅黑", sans-serif;
}

.middle .center .left,
.middle .center .right {
    position: absolute;

}

.middle .center img {
    width: 600px;

}

.middle .center {
    text-align: center;
    width: 600px;
    margin: 25px auto;
    position: relative;
}

.middle .center .left {
    text-align: left;
    top: 0px;
    left: 0px;
    margin-left: -240px;
    width: 240px;

}

.middle .center .left h3 {
    text-align: center;
    width: 200px;
    font-size: 35px;
    font-weight: lighter;
    font-family: "微软雅黑", sans-serif;
}

.middle .center .left .content {
    background: rgba(255, 255, 255, 0.5);
    width: 330px;
    padding: 25px;
    border: 1px solid #999;

}

.middle .center .left .content p {
    font-size: 16px;
    font-family: "微软雅黑", sans-serif;
    line-height: 1.5em;
}

.middle .center .left .content button {
    margin-top: 30px;
    padding: 20px;
    background: #000;
    color: #fff;
    border: none;
    font-size: 20px;
}

.middle .center .left .content button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.middle .center .right {
    width: 330px;
    top: 0;
    right: 0;
    margin-right: -330px;
    text-align: center;
}

.middle .center .right .students,
.middle .center .right .faculty {
    width: 270px;
    margin: 0px auto 40px auto;
    border: 1px solid #07cbc9;
}

.middle .center .right .bignum {
    font-size: 40px;
    line-height: 80px;
    font-weight: bold;
}

.middle .center .right .caption {
    font-size: 20px;
    line-height: 60px;
}

.about .bottom {
    overflow: hidden;
}

.about .bottom div {
    width: 25%;
    height: 450px;
    float: left;
    background: #07cbc9;
}

.about .bottom div img {
    width: 100%;
    height: 450px;
}

.bottom .caption {
    box-sizing: border-box;
    padding: 0px 60px;
    color: #fff;

}

.bottom .caption h4 {
    font-size: 40px;
    font-weight: lighter;
    margin: 30px 0px;
    ;
}

.bottom .caption .big {
    font-size: 18px;
    margin: 30px 0px;
    line-height: 1.5em;
    color: #fafafa;
}

.bottom .caption .small {
    font-size: 16px;
    line-height: 1.5em;
    color: #ddd;
}

.bottom .caption button {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 50px;
    margin-top: 40px;
    background: black;
    border: none;
    color: #fff;
    font-size: 16px;
}

.bottom .caption button:hover {
    border: 1px solid black;
    background: transparent;
    color: #000;
}

.gallery {
    overflow: hidden;
}

.gallery .pic {
    width: 1200px;
    margin: 50px auto;
}

.gallery figure {
    width: 33.3%;
    float: left;
    box-sizing: border-box;
    padding: 10px 20px;
}

.gallery figure img {
    width: 100%;
}

.gallery figure figcaption {
    height: 60px;
    line-height: 60px;
    background: #000;
    color: #fff;
    margin-top: -4px;
    padding-left: 20px;
}

.footer {
    margin-top: 50px;
    height: 100px;
    background: #07cbc9;
    color: #fff;
    text-align: center;
    line-height: 100px;
}