 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .wallpaper {
    background-color: #f3f5f7;
     min-width: 900px;
 }

 .logo,
 .top {
     max-width: 1024px;
     margin: 0 auto;
 }

 .top {
     height: 50px;
     font-size: 0.8rem;
     border-bottom: 2px solid rgba(211, 209, 209, 0.9);
 }

 .top>.login-bar {
     margin-left: 20px;
 }

 .top>.login-bar div:first-child {
     color: red;
 }

 .top>.login-bar div {
     float: left;
     color: #000;
     line-height: 50px;
     margin-right: 15px;
 }

 .top>.user-menu {
     float: right;
 }

 .top>.user-menu div {
     display: inline-block;
     vertical-align: middle;
     line-height: 50px;
     width: 100px;
     text-align: center;
 }

 .top>.user-menu li {
     list-style-type: none;
 }

 .top>.user-menu li:hover {
     cursor: pointer;
     color: red;
 }

 .top>.user-menu li img {
     display: inline-block;
     margin-left: 5px;
     position: relative;
     top: 2px;
 }

 /* logo区 */
 .logo {
     height: 120px;
     line-height: 120px;
     position: relative;
 }

 .logo>.logo-pic {
     float: left;
 }

 .logo>.logo-pic>img {
     margin-left: 20px;
     vertical-align: middle;
 }

 .logo>.search {
     position: absolute;
     width: 100%;
     text-align: center;
 }

 .logo>.search>input[type="text"] {
     width: 400px;
     height: 40px;
     border: 1px solid black;
 }

 .logo>.search>.submit {
     display: inline-block;
     width: 70px;
     height: 40px;
     background-color: #000;
     color: #fff;
     vertical-align: middle;
     line-height: 40px;
     margin-left: -4px;
     text-align: center;
 }

 .logo>.right {
     float: right;
     width: 200px;
     height: 100%;
     position: relative;
     right: 20px;
 }

 .logo>.right>.shopping-cart {
     width: 90%;
     height: 40px;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     background: red;
     line-height: 40px;
     color: white;
     text-align: center;
     font-size: 0.9rem;
 }

 .logo>.right>.shopping-cart>* {
     display: inline-block;
     margin: auto 3px;
     vertical-align: middle;
 }

 .logo>.right>.shopping-cart>*:last-child {
     margin-left: 10px;
 }