html {
    font-family: "微软雅黑";
    font-weight: bold;
}

.page {
    width: 1080px;
    margin: 0px auto;
}

span {
    margin-right: 3rem;
}

.title {
    float: left;
    width: 20%;
    text-align: center;
    background-color: powderblue;
    margin-right: 5%;
    height: 45em;
    color: #fff;
}
h1  {
    margin-top: 2em;
}

.content {
    float: left;
    height: 45em;
}