html {
    font-family: "微软雅黑";
}

.page {
    width: 1080px;
    margin: 0px auto;
}

span {
    margin-right: 3rem;
}

.title {
    color: white;
    background-color: rgb(78, 62, 41);
    height: 4rem;
    line-height: 4rem;
}

h1 {
    margin-top: 2rem;
    padding-left: 2rem;
}

.content h2 {
    float: left;
    clear: left;
    height: 4rem;
    line-height: 4rem;
    background-color: tan;
    margin: 0px;
    border-bottom: 1px solid white;
    width: 15%;
    text-align: center;
}

.content p {
    margin: 0px;
    padding-left: 2rem;
    height: 4rem;
    border-bottom: 1px solid tan;
}